.movie .poster_path {
  height: 382px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

.movie .thumbnail {
  position: relative; }
  .movie .thumbnail .delete {
    position: absolute;
    right: 15px;
    top: 15px; }
  .movie .thumbnail .detail {
    position: absolute;
    left: 15px;
    top: 15px; }

body {
  background-color: #E2D0FF; }

.googlebutton {
  background-color: transparent;
  border: none; }
