.movie .poster_path {
  height: 382px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

body {
  background-color: #E2D0FF; }

.googlebutton {
  background-color: transparent;
  border: none; }
